/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,400&display=swap'); */
@font-face {
    font-family: pixel;
    src: url(./fonts/Minecraft.ttf);
}



body {
    /* background-image: url(./imagenes/pixelart.jpg); */
    background-image: url(./imagenes/5927911.gif);
    background-size: cover;
    display: flex;
    justify-content: end;
    font-family: pixel;

}

.contenedor {
    background-color: #ffff;
    height: 35rem;
    width: 22rem;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: black;
}

.contenedorLogin {
    width: 300px;
    margin: 2.5rem;
}


.header {
    font-size: 30px;
    font-weight: 700;
    margin: 1rem;
    color: #970A8C;
    letter-spacing: 5px;
}

.inputForm{
    display: flex;
    flex-direction: column;
}

.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 0 0 0 45px;
    background: #0F125D;

}

::placeholder {
    color: rgb(204, 193, 193);
    font-family: pixel;
}

i{
    color: #ffff;
    position: relative;
    top:-32px;
    left: 20px;
    width: 10px;
}

.submit {
    border: none;
    font-size: 15px;
    width: 100%;
    background: #970A8C ;
    height: 45px;
    outline: none;
    color: #ffff;
    font-family: pixel;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.submit:hover{
    box-shadow: 1px 2px 2px 1px #7e5fcc;
}

.boton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.forgotPass a{
    text-decoration: none;
    color: #970A8C;
}

.remember {
    display: flex;
    align-items: center;
}

.createAcc{
    text-align: center;
    margin: 10px;
    font-size: small;
}
.createAcc a {
    text-decoration: none;
    color: #970A8C;
}

/* CODIGO TOGGLE */
.switch {
    --button-width: 2.5em;
    --button-height: 1.5em;
    --toggle-diameter: 0.8em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #970A8C;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
    margin-right: 5px;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }
   
.cambioColor {
    background: #2f0b87 ;
}

